!!! 5
%html
  %head
    %title HTML KickStart
    %meta{charset: 'UTF-8'}
    %meta{name: 'description', content: ''}
    %script{type: 'text/javascript', src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'}
    /[if lt IE 9]
      %script{src: 'http://html5shiv.googlecode.com/svn/trunk/html5.js'}

    -# PRETTIFY
    %script{type: 'text/javascript', src: 'js/prettify.js'}
    -# KICKSTART
    %script{type: 'text/javascript', src: 'js/kickstart.js'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/css/kickstart.css', media: 'all'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/style.css', media: 'all'}

  %body
    %a#top-of-page
    #header
      -# HEADER

    #wrap.clearfix
      .col_12
        = yield

      .clear
      #footer
        -# FOOTER
        Copyright &copy; #{Time.now.year} Example Corporation. 
        %a#link-top{href: '#top-of-page'} Top
